@model IEnumerable<GestaoLogistica.Models.Fornecedor>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create" button type="button" class="btn btn-info">Cadastrar Novo Fornecedor</a>
</p>
<table class="table table-dark table-hover table table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoFornecedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoFornecedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td  class="btn-group">
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">  <spam class="fa fa-pencil-alt"></spam>Atualizar</a> 
                <a class="btn btn-info"  asp-action="Details" asp-route-id="@item.Id"> <spam class="fa fa-search"></spam>Detalhes</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam>Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
