@model GestaoExpedicao.Models.Conferencia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Conferencia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuidId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuidId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdCaixas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdCaixas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cubagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cubagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusConferencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusConferencia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ConferenciaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
