@model GestaoExpedicao.Models.AbrirCarga

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AbrirCarga</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroDoca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroDoca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatahoraInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatahoraInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoVeiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoVeiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Placa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuiId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuiId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
