@model IEnumerable<GestaoLogistica.Models.Conferente>

@{
    ViewData["Title"] = "Index";
     <img src="../../dist/img/log.png" />
}


<hr />

<table  class="table table-dark table-hover table table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Setor)
            </th>
                    
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Setor)
            </td>
            <td  class="btn-group">
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">  <spam class="fa fa-pencil-alt"></spam>Atualizar</a> 
                <a class="btn btn-info"  asp-action="Details" asp-route-id="@item.Id"> <spam class="fa fa-search"></spam>Detalhes</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam>Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create" button type="button" class="btn btn-info">Cadastrar Novo Conferente</a>
</p>

