@model IEnumerable<GestaoLogistica.Models.LogAuditoria>

@{
    ViewData["Title"] = "Index";
}




<table class="table table-dark table-hover table table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DetalhesAuditoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conferente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DetalhesAuditoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conferente.Cpf)
            </td>
        </tr>
}
    </tbody>
</table>
