@model GestaoLogistica.Models.ConferirCarga

@{
    ViewData["Title"] = "Delete";
}


<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoOperacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoOperacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Placa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datahora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datahora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trasnportadora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trasnportadora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdCaixas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdCaixas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cubagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cubagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conferente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conferente.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-dark">Voltar</a>
    </form>
</div>
