@model IEnumerable<GestaoLogistica.Models.ConferirCarga>

@{
    ViewData["Title"] = "Index";
}




   <p><a asp-action="Create" button type="button" class="btn btn-info">Conferir Nova Carga</a></p> 

<table class="table table-dark table-hover table table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoOperacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datahora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trasnportadora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdCaixas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cubagem)
               
            </th>
             
            <th>
                @Html.DisplayNameFor(model => model.Conferente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoOperacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datahora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trasnportadora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdCaixas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cubagem ) M³
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Conferente.Nome)
            </td>
            <td  class="btn-group">
               <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">  <spam class="fa fa-pencil-alt"></spam>Atualizar</a> 
                <a class="btn btn-info"  asp-action="Details" asp-route-id="@item.Id"> <spam class="fa fa-search"></spam>Detalhes</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam>Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
